@import url('../styles.css');

#header.page-produto {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../../images/background-produto.jpg");
    height: 69vh;
    
}

#download {
    background-color: #f9f6f1;
}

#download .btn {
    font-size: 18px;
}

#funcionalidades .material-icons {
    float: left;
    height: 200px;
    font-size: 60px;
    margin-right: 20px;
}

#funcionalidades h3 {
    margin-top: 0;
}